In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import yfinance as yf

In [ ]:
# data = pd.read_csv('../raw_data/ourworldindata_soybean-production.csv')

In [ ]:
# pivoted_data = data.pivot(index = 'Year', columns = 'Entity', values = 'Crops - Soybeans - 236 - Production - 5510 - tonnes')

In [ ]:
# pivoted_data

In [ ]:
# data = pd.read_csv('../raw_data/PDB_LV_21032022152638061.csv')

In [ ]:
# data

In [ ]:
# data = data[data['Subject'] == 'Gross Domestic Product (GDP); millions']

In [ ]:
# data.pivot_table(index=['Country', 'Time'], columns='Subject', values = 'Value')

In [ ]:
# pivoted_data = data.pivot(index = 'Year', columns = 'Entity', values = 'Crops - Soybeans - 236 - Production - 5510 - tonnes')

In [ ]:
# pivoted_data

In [ ]:
# data = pd.read_csv('../raw_data/gdp.csv')

In [ ]:
# data.pivot(index='Year', columns='Country Name', values = 'Value')

In [9]:
data = pd.read_csv('../raw_data/Dataset_FAS.csv')
data = data.replace(np.nan, 0)
data = data.drop(columns = 'Unnamed: 0')

In [15]:
soybean = yf.Ticker('ZS=F')

In [38]:
m_history = soybean.history(period='max', interval='1mo')
m_history['Year'] = m_history.index.year
m_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year
Date,,,,,,,,
2000-11-01,459.50,508.00,459.00,502.00,4262,0,0,2000
2000-12-01,506.50,513.75,497.50,499.00,31784,0,0,2000
2001-01-01,500.00,500.50,457.75,459.75,4258,0,0,2001
2001-02-01,459.00,468.50,447.00,454.75,26157,0,0,2001
2001-03-01,453.00,463.50,434.50,436.00,8461,0,0,2001
...,...,...,...,...,...,...,...,...
2021-12-01,1222.00,1375.75,1216.25,1328.75,1887212,0,0,2021
2022-01-01,1340.25,1496.75,1332.00,1490.50,1367807,0,0,2022
2022-02-01,1490.00,1765.00,1485.00,1644.25,2479863,0,0,2022
2022-03-01,1648.25,1745.25,1638.00,1691.00,424003,0,0,2022
2022-03-22,1692.75,1720.75,1686.00,1694.00,52676,0,0,2022

In [ ]:
m_history.groupby('Year').agg({})

In [ ]:
# ibge_novo = pd.read_csv('../raw_data/IBGE_Soja_mensal.csv')
# ibge_velho = pd.read_csv('../raw_data/IBGE_Soja_mensal_anterior.csv')

In [ ]:
# ibge_novo

In [ ]:
# ibge_full = ibge_velho.reset_index().sort_values(by = 'index', ascending = False).append(ibge_novo).drop(columns = 'index').reset_index().drop(columns = 'index')

In [ ]:
# ibge_full

In [ ]:
# ibge_full['Mes-Ano'] = pd.to_datetime(ibge_full['Mes-Ano'])

In [ ]:
# ibge_full

In [ ]:
# for i in ibge_full.columns:
#     if i != 'Mes-Ano':
#         sns.lineplot(x = ibge_full['Mes-Ano'], y = ibge_full[i])
#         plt.show()

In [ ]:
# pivoted_data.to_csv('ourworldindata_soybean-production_pivot.csv')