In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import yfinance as yf
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
import statsmodels.api as sm

In [ ]:
# data = pd.read_csv('../raw_data/ourworldindata_soybean-production.csv')

In [ ]:
# pivoted_data = data.pivot(index = 'Year', columns = 'Entity', values = 'Crops - Soybeans - 236 - Production - 5510 - tonnes')

In [ ]:
# pivoted_data

In [ ]:
# data = pd.read_csv('../raw_data/PDB_LV_21032022152638061.csv')

In [ ]:
# data

In [ ]:
# data = data[data['Subject'] == 'Gross Domestic Product (GDP); millions']

In [ ]:
# data.pivot_table(index=['Country', 'Time'], columns='Subject', values = 'Value')

In [ ]:
# pivoted_data = data.pivot(index = 'Year', columns = 'Entity', values = 'Crops - Soybeans - 236 - Production - 5510 - tonnes')

In [ ]:
# pivoted_data

In [ ]:
# data = pd.read_csv('../raw_data/gdp.csv')

In [ ]:
# data.pivot(index='Year', columns='Country Name', values = 'Value')

In [3]:
data = pd.read_csv('../raw_data/Dataset_FAS_rev1.csv', index_col='Year')
data = data.drop(columns = 'Unnamed: 0')
data['GDP (millions)'].fillna(method='bfill', inplace = True)
data['GDP per capita (US$)'].fillna(method='bfill', inplace = True)
data.fillna(method='bfill', inplace = True)
# data.fillna(method='ffill', inplace = True)
data = data.replace(np.nan, 0)

In [4]:
data

,Country,Producer_price (USD/tonne),Area_harvested (ha),Value Agr. Production (1000 US$),Production (tonnes),Yield (hg/ha),Domestic supply quantity (1000 tonnes),Export Quantity (1000 tonnes),Feed (1000 tonnes),Food (1000 tonnes),Import Qty (1000 tonnes),Losses (1000 tonnes),Processing (1000 tonnes),Production (1000 tonnes),Residuals (1000 tonnes),Seed (1000 tonnes),Population (1000 persons),Urban Population (1000 persons),GDP (millions),GDP per capita (US$)
Year,,,,,,,,,,,,,,,,,,,,
1996,Albania,478,177.0,208.0,274.0,15480.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3098.700,1220.583,3199.642024,1032.575604
1997,Albania,336,177.0,171.0,226.0,12768.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3099.752,1238.301,2224.654241,717.687815
1998,Albania,332,104.0,113.0,149.0,14327.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3110.682,1260.155,2554.868837,821.321124
1999,Albania,436,700.0,910.0,1200.0,17143.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3122.697,1282.662,3221.670165,1031.694771
2000,Albania,487,400.0,455.0,600.0,15000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3129.243,1303.137,3487.586302,1114.514374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,Zimbabwe,580,60616.0,39706.0,71328.0,11767.0,91.0,1.0,0.0,3.0,17.0,5.0,79.0,71.0,0.0,3.0,13586.707,5009.401,19495.519631,1434.896596
2015,Zimbabwe,550,44155.0,23251.0,41768.0,9459.0,69.0,0.0,0.0,4.0,14.0,3.0,59.0,42.0,0.0,2.0,13814.629,5109.485,19963.120615,1445.071063
2016,Zimbabwe,540,39935.0,26584.0,47755.0,11958.0,61.0,0.0,0.0,2.0,8.0,4.0,53.0,48.0,0.0,2.0,14030.331,5215.894,20548.678073,1464.589686
2017,Zimbabwe,540,23515.0,20306.0,36478.0,15513.0,91.0,0.0,0.0,4.0,67.0,3.0,82.0,36.0,0.0,1.0,14236.595,5328.766,22040.902301,1548.186368
2018,Zimbabwe,780,37307.0,38793.0,69688.0,18680.0,79.0,0.0,0.0,5.0,18.0,5.0,67.0,70.0,0.0,2.0,14438.802,5447.513,24311.560545,1683.765768

In [ ]:
# soybean = yf.Ticker('ZS=F')
# history = soybean.history(period='max', interval='1mo').reset_index()
# history['Year'] = history['Date'].dt.year

In [ ]:
# yearly = history.groupby('Year')[['Close']].mean()[:21]

In [ ]:
# data_2000 = data[data.index >= 2000]
# data_2000 = data_2000.pivot_table(index=['Year', 'Country'])
# data_2000 = data_2000.merge(yearly, on='Year')

In [ ]:
# X = data_2000.drop(columns='Close')
# y = data_2000['Close']

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
# model = sm.OLS(X, y).fit() # Finds the best beta

In [ ]:
# model.summary()

In [ ]:
# ibge_novo = pd.read_csv('../raw_data/IBGE_Soja_mensal.csv')
# ibge_velho = pd.read_csv('../raw_data/IBGE_Soja_mensal_anterior.csv')

In [ ]:
# ibge_novo

In [ ]:
# ibge_full = ibge_velho.reset_index().sort_values(by = 'index', ascending = False).append(ibge_novo).drop(columns = 'index').reset_index().drop(columns = 'index')

In [ ]:
# ibge_full

In [ ]:
# ibge_full['Mes-Ano'] = pd.to_datetime(ibge_full['Mes-Ano'])

In [ ]:
# ibge_full

In [ ]:
# for i in ibge_full.columns:
#     if i != 'Mes-Ano':
#         sns.lineplot(x = ibge_full['Mes-Ano'], y = ibge_full[i])
#         plt.show()

In [ ]:
# pivoted_data.to_csv('ourworldindata_soybean-production_pivot.csv')